<ons-page style="background-color: white">

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator1.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Beranda
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator2.html')">
			<i class="fa fa-picture-o fa-lg" style="color: #666"></i>
			&nbsp; Desain
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator3.html')">
			<i class="fa fa-desktop fa-lg" style="color: #666"></i>
			&nbsp; Destop
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator4.html')">
			<i class="fa fa-css3 fa-lg" style="color: #666"></i>
			&nbsp; Internet
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator5.html')">
			<i class="fa fa-video-camera fa-lg" style="color: #666"></i>
			&nbsp; Multimedia
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator6.html')">
			<i class="fa fa-file fa-lg" style="color: #666"></i>
			&nbsp; Perkantoran
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item--tappable topcoat-list__item__line-height"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('navigator7.html')">
			<i class="fa fa-star fa-lg" style="color: #666"></i>
			&nbsp; Umum
		</ons-list-item>

	</ul>

</ons-page>
