<ons-page class="center">

	<ons-scroller>

	<div class="topcoat-list topcoat-list--noborder">
	  <ul class="topcoat-list__container" ng-controller="MultimediaCtr">
		  <div ng-repeat="app in apps">
				<li class="topcoat-list__item topcoat-list__item--tappable">
					<span class="topcoat-list__item__line-height" ng-click="ons.navigator.pushPage('artikel.html')">{{post.title}}</span>
					<span class="list-item-action" ng-click="ons.navigator.pushPage('artikel.html')"><i class="fa fa-angle-right"></i></span>
				</li>
			</div>
	  </ul>
	</div>
	
	</ons-scroller>

</ons-page>
